body {
  margin: 0;
  padding: 0;
}

.form-container{
  max-width: 530px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 24px;
  border: 6px solid #f7f7f9;
}
.form-container h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
}

.required {
  color:red;
}

.error-text {
    position: relative;
    bottom: 2px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}